{
    "class": "sk.nmh.config.ConnectionConfig",
    "connections": [
      {
        "connectionId": "conn1",
        "ip":"192.168.1.11",
        "connectionType": "MASTER",
        "driverClass": "POSTGRE",
        "connectionUrl": "jdbc:postgresql://192.168.1.1:5432/test1",
        "username": "nmh",
        "password":"loksa123",
        "initialPoolSize": 1,
        "maxPoolSize": 3
      },
      {
        "connectionId": "conn2",
        "ip":"192.168.1.20",
        "connectionType": "SLAVE",
        "driverClass": "POSTGRE",
        "connectionUrl": "jdbc:postgresql://192.168.1.2:5432/test2",
        "username": "nmh",
        "password":"loksa456",
        "initialPoolSize": 1,
        "maxPoolSize": 3
       }    
   ]
}
